<header class="fl-header">

    <!-- haeader bottom Start -->
    <div class="haeader-bottom-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-9 col-9">
                    <div class="logo-area">
                        <a href="/"><img src="/assets/images/logo/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-block">
                    <div class="main-menu-area text-center">
                        <!--  Start Mainmenu Nav-->
                        <nav class="main-navigation">
                            <ul>
                                <li class="active"><a href="/">Početna</a></li>
                                <li><a href="/recepti">Recepti</a></li>
                                <li><a href="/clanci">Članci</a></li>
                                <li><a href="/onama">O nama</a></li>
                                <li><a href="/kontakt">Kontakt</a></li>

                            </ul>
                        </nav>

                    </div>
                </div>
                <div class="mobile-menu-btn col-lg-2 col-md-2 col-2 d-block d-lg-none">
                    <div class="off-canvas-btn">
                        <i class="ion-android-menu"></i>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 d-none d-lg-block">
                    <div class="social-top">
                        <ul>
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- haeader bottom End -->

    <!-- main-search start -->
    <div class="main-search-active">
        <div class="sidebar-search-icon">
            <button class="search-close"><span class="ion-android-close"></span></button>
        </div>
        <div class="sidebar-search-input">
            <form>
                <div class="form-search">
                    <input id="search" class="input-text" value="" placeholder="Search entire store here ..." type="search">
                    <button class="search-btn" type="button">
                        <i class="ion-ios-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- main-search start -->


    <!-- off-canvas menu start -->
    <aside class="off-canvas-wrapper">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="btn-close-off-canvas">
                <i class="ion-android-close"></i>
            </div>

            <div class="off-canvas-inner">

                <!-- mobile menu start -->
                <div class="mobile-navigation">

                    <!-- mobile menu navigation start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="active"><a href="/">Početna</a></li>
                            <li><a href="/recepti">Recepti</a></li>
                            <li><a href="/clanci">Članci</a></li>
                            <li><a href="/onama">O nama</a></li>
                            <li><a href="/kontakt">Kontakt</a></li>
                        </ul>
                    </nav>
                    <!-- mobile menu navigation end -->
                </div>
                <!-- mobile menu end -->



                <!-- offcanvas widget area start -->
                <div class="offcanvas-widget-area">

                    <div class="off-canvas-social-widget">
                        <a href="#"><i class="ion-social-facebook"></i></a>
                        <a href="#"><i class="ion-social-twitter"></i></a>
                        <a href="#"><i class="ion-social-tumblr"></i></a>
                        <a href="#"><i class="ion-social-googleplus"></i></a>
                    </div>

                </div>
                <!-- offcanvas widget area end -->
            </div>
        </div>
    </aside>
    <!-- off-canvas menu end -->


</header>