<!doctype html>
<html class="no-js" lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
<div class="main-wrapper">
    <% include partials/header.ejs%>
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="breadcrumb-title">Kontakt</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <!-- Page Conttent -->
    <main class="page-content section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12">
                    <div class="contact-infor">
                        <div class="contact-title">
                            <h3>Kontaktirajte nas</h3>
                        </div>
                        <div class="contact-dec">
                            <p>Ukoliko imate ideju za neko vegansko jelo javite se na fejsu ili na mailu </p>
                            <p>Pravila su jasna. Nema mesa, mleka, jaja i ostalih sranja</p>
                            <p>Najukusniji recept nagrađujemo sa vaučerom od 1000 kinti za kupovinu biljaka, slika, čaja ili gljiva..</p>
                        </div>
                        <div class="contact-address">
                            <ul>
                                <li><i class="zmdi zmdi-home"></i> <a href="#"><i class="ion-social-twitter"></i></a>
                                    <a href="#"><i class="ion-social-tumblr"></i></a>
                                    <a href="#"><i class="ion-social-facebook"></i></a>
                                    <a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                <li><i class="zmdi zmdi-email"></i> rene@vegan.com</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </main>
    <!--// Page Conttent -->
    <% include partials/footer.ejs%>
</div>
<% include partials/footerscripts.ejs %>
</body>
</html>