<div class="dashboard-upper-info">
    <div class="row align-items-center no-gutters">
        <div class="col-lg-3 col-md-12">
            <div class="d-single-info">
                <p class="user-name">Hello <span><%= user %></span></p>

            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="d-single-info">
                <a href="/">Rene Vegan</a></br>
                <a href="/admin">Admin Panel</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="d-single-info">
                <p>Support: </p>
                <p>boris.dovecer.1720@metropolitan.ac.rs</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-12">
            <div class="d-single-info text-lg-center">
                <a href="/logout" class="view-cart">Logout</a>
            </div>
        </div>
    </div>
</div>