<div class="col-md-12 col-lg-2">
    <!-- Nav tabs -->
    <ul role="tablist" class="nav flex-column dashboard-list">
        <li><a href="/create/recepti" >New Recept</a></li>
        <li><a href="/create/clanci" >New Clanak</a></li>

        <li> <a href="/update/recepti" >Update Recept</a></li>
        <li> <a href="/update/clanci" >Update Clanak</a></li>

        <li><a href="/upload" >Upload Slike</a></li>
        <li><a href="/upload/gallery" >Upload Galerije</a></li>

        <li><a href="/comments" >Comments</a></li>
        <li><a href="/admin" >Help</a></li>

    </ul>
</div>
